{% extends 'login/layout.html' %}

{% block title %}Замовлення{% endblock %}

{% block body %}
<h1 class="text-center">Замовлення</h1>
<section class="h-100">
  <div class="container py-3 w-50">
    <form method="post">
        {% csrf_token %}
        {{ form.phone }}
        {{ form.address_from }}
        {{ form.address_to }}
        {{ form.cost }}
        {{ form.time }}
        {{ form.comment }}
        <div class="container row ">
            <div class="container p-2 col">
                <p>Автівка</p>
                <p>Статус замовлення</p>
            </div>
            <div class="container p-2 col">
                <p>{{ form.driver }}</p>
                <p>{{ form.status }}</p>
            </div>
            <div class="container  col-8">
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary me-1" type="submit">Зберегти</button>
            <button onclick="location.href='{% url 'operator' %}'" type="button" class="btn btn-primary">Скасувати</button>
        </div>
    </form>

  </div>
</section>
{% endblock %}